.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 25vw);
    grid-gap:1.5rem;
    &__item {
        position: relative;
        &--16 {
            
            grid-row: 6 / 7;
            grid-column: 2 / 3;
        }
    }

    &__image{
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
    }

&__caption {
position: absolute;
top: 0;
left: 0;
text-align: center;
height: 100%;
width: 100%;
background:rgba(0, 0, 0, .8); 
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
transition: all .5s;
    }

    &__link {
    &:link,
    &:visited {
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-white;
        border: 1px solid $color-white;
        padding: .5rem 1.5rem;
        display: inline-block;
        &:focus {
        outline: none;
        
        }
    }


    }
    &__item:hover &__caption {
        opacity: 1;
    }
}